body {
    padding-top: 50px;   
}


.jumbotron {
  background: url(../img/bg.jpg) no-repeat; 
  min-height: 450px;
  margin-bottom: 0px !important;
}

.jumbotron h1 {
  font-size: 55px; 
}

h1, h2, h3 {
  /*text-transform: uppercase;*/
  font-family: 'Oswald', sans-serif; 
  font-size: 16px;
}


.fa-color {
  color: #0383c0; 
}

section {
  padding: 30px 0; 
}

.section-gray {
  background: #f4f4f4; 
}

.section-secondary {
  background: #e44d26;
  color: #fff;
  padding: 60px 0; 
}

.slogan {
  text-align: center; 
}

.slogan h1 {
  font-size: 50px;
  margin-bottom: 25px; 
}

.slogan p {
  font-size: 20px;
}

.slogan a {
  margin-top: 20px;
}

.section-primary {
  background: #0383c0;
  color: #fff;
  padding: 60px 0; 
}


.feature-list li {
  list-style: none;
  font-size: 18px;
  line-height: 2em;
  font-weight:bold;
}
.feature-list li p, .slogan p {
  font-weight:normal;
}
.slogan p {
  font-size: 14px;
  padding-left: 40px;
  padding-right: 40px;
}


footer {
  text-align:center;
  min-height:60px;
  background:#f4f4f4;
  padding-top: 20px; 
}



  .repertory .points_2 {
    color: #3805CB;
    font-style: italic;  
    font-weight: bold;  
  }
  .repertory .points_1 {
     color: black;
  }
  .repertory .points_3 {
  color: #EA090D;
  font-weight: bold;
  text-transform: uppercase;
  }
  .repertory .points_4 {
  color: #014B15;
  font-weight: bold;
  text-transform: uppercase;
  }
  
  .repertory .points_2 a {
    color: #3805CB;
    font-style: italic;  
    font-weight: bold;  
  }
  .repertory .points_1 a {
     color: black;
  }
  .repertory .points_3 a {
  color: #EA090D;
  font-weight: bold;
  text-transform: uppercase;
  }
  .repertory .points_4 a {
  color: #014B15;
  font-weight: bold;
  text-transform: uppercase;
  }
  
  .repertory .media-sub {
    padding-left: 20px;  
  }
  .repertory .media-list {
    font-size: 11px;  
  }
  .repertory .media {
    margin-top: 0px; 
  }
  .repertory h4 {
    font-size: 16px;
  }
  .repertory .chain {
    font-size: 10px;  
  }
  
  .repertory .tblSymptoms {
    min-width: 300px;
  }
  .repertory .tblRemedies {
    min-width: 90px;
  }