/* CSS Document */

article, aside, figure, footer, header, main, nav, section {
  display: block;
}

aside p + a {
  border: 5px double;
  display: block;
  text-decoration: none;
  background-color: #484848;
  color: #ffffff;
  text-align: center;
  font-size: 1.75rem;
  margin: 5px 5px 9px 5px;
  padding: 15px;
  position: relative;
  border-radius: 25px;
  box-shadow: 2px 5px 0 0 rgba(72,72,72,1);
}