<div class="container repertory">
  <div class="row">
    <div class="col-md-12">
      <h1>Repertorization</h1>
    </div>
  </div>
  
  <div class="row">
  
    <div class="col-md-12">
      <div my-symptoms user-data="userData"></div>
    </div>
    
    
    <div class="col-md-12">
      <h3>View Symptoms</h3>
      <form ng-submit="pagNextPrev(0)">
      <div class="form-group">
          <input type="text" class="form-control" id="keyword" placeholder="Enter keyword" ng-model="frm.keyword">
      </div>
      <button type="submit" class="btn btn-default">Search</button>
      <p ng-if="frm.loading"><img src="img/loading.gif"></p>
      <div class="alert alert-warning" role="alert" ng-if="frm.resultStatus" style="margin-top:20px;">
        {{frm.resultStatus}}
      </div>
      </form>
          
          
          
      <div ng-if="data.totalRows > 0">
          <!-- start -->
          <div ng-repeat="(group, recs) in recordsGroup">
            <h3>{{group}}</h3>
            <ul class="media-list">
              <li class="media" ng-repeat="val in recs">
                <div class="media-left"></div>
                <div class="media-body">
                  <h4 class="media-heading">{{val.symptom}} 
                    <span ng-if="val.remedies">({{val.remedies.length}}) (<strong>Intensity:</strong> <a href="" ng-click="addsymSpecific(val, 4)">4</a> | <a href="" ng-click="addsymSpecific(val, 3)">3</a> | <a href="" ng-click="addsymSpecific(val, 2)">2</a> | <a href="" ng-click="addsymSpecific(val, 1)">1</a>)</span>
                    <a name="{{val.id}}" id="id_{{val.id}}"></a>
                  </h4>
                  <p ng-if="val.remedies"><span ng-repeat="remedy in val.remedies | orderObjectBy: 'remedy'" ng-if="val.remedies" class="points_{{remedy.points}}"><a href="mm/{{remedy.remedy}}" target="_blank">{{remedy.remedy}}</a>, </span></p>
                </div>
              </li>
              
              
            </ul>
          </div>
          <!-- end -->
          
          <!--pagination start -->
          <div class="col-md-12" ng-if="data.totalRows > 0">
            <div my-pagination max-rows="{{data.max}}", page-num="{{data.page}}" start-rows="{{data.start}}" total-pages="{{data.totalPages}}" total-rows="{{data.totalRows}}" url-prefix="{{frm.urlPrefix}}" url-suffix="{{frm.urlSufix}}" pag-next-prev-dir="pagNextPrev"></div>
          </div>

      
          <!-- pagination end -->
    
      </div>
      
      
      <div class="row" ng-if="chapters">
        <div class="col-md-12">
          <h3>Chapters</h3>
        </div>
        <div class="col-md-3" ng-repeat="cha in chapters">
          <a href="" ng-click="browse(cha.id, 0)">{{cha.path | capitalize:true}}</a> ({{cha.cnt}})<!-- completeRep/chapter/{{cha.id}}/pg/0 -->
        </div>
        <div class="col-md-3">
          <a href="" ng-click="browse(0, 0)"><strong>All Chapters</strong></a>
        </div>
      </div>
      
      <div find-my-remedy user-data="userData" chapters="chapters"></div>
      
    </div>
    
    
  </div>
</div>















  <!--<div class="row" ng-if="recordedSymptoms.length > 0">
    <div class="col-md-12">
    
    
    
      <div class="table-responsive" style="overflow:auto;">
            <table class="table table-bordered table-striped">
            <caption>Repertory</caption>
                <thead class="thead-inverse">
                    <tr>
                        <th>Symptom</th>
                        <th class="tblRemedies" ng-repeat="remedy in recordedRemedies | orderObjectBy: 'points' : true">{{remedy.remedy}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(k, syms) in recordedSymptoms">
                        <td scope="row" class="tblSymptoms">{{k + 1}}. {{syms.path}} (<a href="" ng-click="delSym(syms.rid, recordedType, syms.trace_id)">-</a>)</td>
                        <td ng-repeat="remedy in recordedRemedies | orderObjectBy: 'points' : true"><span ng-if="syms.remedies[remedy.id]">{{syms.remedies[remedy.id].points}}</span>&nbsp;</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td scope="row"><strong>Total:</strong> </td>
                        <td ng-repeat="remedy in recordedRemedies | orderObjectBy: 'points' : true">{{remedy.points}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        
        
        
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12">
      <div ng-if="userData">
        <div><span ng-if="recordedSymptoms.length > 0"><a href="" ng-click="showSaveFields()">Save this case</a> | </span><a href="" ng-click="getSavedCases(userData.id, 0, false);">Show Saved List</a>
          <br></div>
        <form ng-submit="saveCase()">
          <div ng-if="save"><b>Title: </b><input type="text" required ng-model="frm.name" size="45"> <input type="submit" value="Save"></div>
          <br>
        </form>
        <div class="alert alert-success" role="alert" ng-if="recordedSymptomStatus">
          {{recordedSymptomStatus}}
        </div>
        <ul class="list-group" ng-if="showSavedList && savedListResults">
          <li class="list-group-item" ng-repeat="item in savedListResults"><strong>{{item.name}}</strong> created on <small>{{item.createdOn}}</small> | <a href="" ng-click="viewSavedList(item.trace_id, true, 1500)">View</a> | <a href="" ng-click="copySavedList(item.trace_id)">Copy To Current List</a></li>
        </ul>
      </div>
  
    </div>
  </div>
  -->