<div class="row">
  <div class="col-md-12">
    <h3>Find My Remedy</h3>
    <p>Coming soon....</p>
  </div>
  <!--<div class="col-md-12" ng-if="frm.step1">
    <h3>Step 1</h3>
    <div class="row" ng-if="chapters">
        <div class="col-md-3" ng-repeat="cha in chapters">
          <input type="checkbox" ng-model="frm.input[cha.id]">{{cha.path | capitalize:true}} ({{cha.cnt}})
        </div>
        
        <button type="submit" class="btn btn-default" ng-click="submitStep1()">Submit Step 1</button>
      </div>
  </div>-->
</div>