<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>My Teaching Profiles</h1>
      <div class="alert alert-danger" role="alert" ng-if="searchStatus">
      {{searchStatus}}
      </div>
      <div class="alert alert-danger" role="alert" ng-if="results.length === 0">
        No results found.
      </div>
    </div>
  </div>
  <!-- title ends -->
  
  <div class="row">
    <div class="col-md-12">
        
       <div class="list-group">
          <div class="list-group-item" ng-repeat="item in results">
            <div class="row">
              <div class="col-md-2">
                <a href="{{meta.redirectUrl}}/detail/{{item.id}}" ng-if="item.details.defaultImage"><img ng-src="{{item.details.defaultImage}}" class="img-responsive img-thumbnail"></a>
                <a href="{{meta.redirectUrl}}/detail/{{item.id}}" ng-if="item.details.images && !item.details.defaultImage" ng-repeat="image in item.details.images | objectAsArray | limitTo: 1 : 0"><img ng-src="{{image}}" class="img-responsive img-thumbnail"></a>
                <a href="{{meta.redirectUrl}}/detail/{{item.id}}" ng-if="!item.details.images"><img ng-src="{{defaultImage}}" class="img-responsive img-thumbnail"></a>
              </div>
              <div class="col-md-10">
                <h4 class="list-group-item-heading"><a href="{{meta.redirectUrl}}/detail/{{item.id}}">{{item.title}}</a></h4>
                <p class="list-group-item-text"><a href="http://maps.google.com/maps?q=loc:{{item.location.latitude}},{{item.location.longitude}}" target="_blank">{{item.detailsFull.location}}</a></p>
                <p class="list-group-item-text"><strong>Created On:</strong> {{item.dateFormattedAll}}</p>
                <p class="list-group-item-text" ng-if="item.distance">{{item.distance}} miles away</p>
                <p><a href="{{meta.redirectUrl}}/edit/{{item.id}}">Edit This Profile</a> | <a href="" ng-click="deleteProfile(item);">Delete This Profile</a></p>
              </div>
            </div>
          
            
          </div>
          
        </div>
        
        <div pagination max-rows="{{data.max}}", page-num="{{data.page}}" start-rows="{{data.start}}" total-pages="{{data.totalPages}}" total-rows="{{data.totalRows}}" url-prefix="{{frm.urlPrefix}}" url-suffix="{{frm.urlSufix}}"></div>
        
      
      
      
    </div><!-- results -->
  </div>
</div>