<style type="text/css">
  .repertory .points_2 {
    color: #3805CB;
    font-style: italic;  
    font-weight: bold;  
  }
  .repertory .points_1 {
     
  }
  .repertory .points_3 {
  color: #EA090D;
  font-weight: bold;
  text-transform: uppercase;
  }
  
  .repertory .media-sub {
    padding-left: 20px;  
  }
  .repertory .media-list {
    font-size: 11px;  
  }
  .repertory .media {
    margin-top: 0px; 
  }
  .repertory h4 {
    font-size: 16px;
  }
  .repertory .chain {
    font-size: 10px;  
  }
  
  .repertory .tblSymptoms {
    min-width: 300px;
  }
  .repertory .tblRemedies {
    min-width: 75px;
  }
</style>
<div class="container repertory">
  <div class="row">
    <div class="col-md-12">
      <h1>Repertorization</h1>
    </div>
  </div>
  <div class="row" ng-if="recordedSymptoms.length > 0">
    <div class="col-md-12">
      <div class="table-responsive" style="overflow:auto;">
            <table class="table table-bordered table-striped">
            <caption>Repertory</caption>
                <thead class="thead-inverse">
                    <tr>
                        <th>Symptom</th>
                        <th class="tblRemedies" ng-repeat="remedy in recordedRemedies | orderObjectBy: 'points' : true">{{remedy.remedy}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(k, syms) in recordedSymptoms">
                        <td scope="row" class="tblSymptoms">{{k + 1}}. <span ng-repeat="ch in syms.chain" class="chain">{{ch.symptom}} | </span>{{syms.symptom}} (<a href="" ng-click="delSym(syms.id)">-</a>)</td>
                        <td ng-repeat="remedy in recordedRemedies | orderObjectBy: 'points' : true"><span ng-if="syms.remedies[remedy.id]">{{syms.remedies[remedy.id].points}}</span>&nbsp;</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td scope="row"><strong>Total:</strong> </td>
                        <td ng-repeat="remedy in recordedRemedies | orderObjectBy: 'points' : true">{{remedy.points}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
  </div>
  
  
  <div class="row">
    <div class="col-md-3">
      
      <h3>Chapters</h3>
      
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="val in chapters | orderBy: 'priority'"><a href="repertory/{{val.symptom}}/{{val.$id}}">{{val.symptom}}</a></li>
      </ul>
      
      
      
      
    </div>
    
    
    <div class="col-md-9">
        
      
      
      
      
      <h3>Symptoms</h3>
      <input type="search" class="form-control" ng-model="q" placeholder="filter symptoms..." aria-label="filter symptoms" /><br><br>
      <!-- start -->
      <ul class="media-list">
        <li class="media" ng-repeat="val in records | orderBy: 'priority' | filter:q as results">
          <div class="media-left"></div>
          <div class="media-body">
            <h4 class="media-heading">{{val.symptom}} 
              <span><a href="" ng-click="addsym(val)">+</a></span>
            </h4>
            <p><span ng-repeat="remedy in val.remedies | orderObjectBy: 'remedy'" ng-if="val.remedies" class="points_{{remedy.points}}">{{remedy.remedy}}, </span></p>
            <!-- Nested media object -->
            <div class="media" ng-if="val.child"  ng-repeat="val2 in val.child | orderBy: 'priority'">
              <div class="media-left"></div>
              <div class="media-body media-sub">
                <h4 class="media-heading">{{val2.symptom}} <span><a href="" ng-click="addsym(val2)">+</a></span></h4>
                <p><span ng-repeat="remedy in val2.remedies" ng-if="val2.remedies" class="points_{{remedy.points}}">{{remedy.remedy}}, </span></p>
              </div>
            </div>
          </div>
        </li>
        
        
        <li class="animate-repeat" ng-if="results.length == 0">
          <strong>No results found...</strong>
        </li>
      </ul>
<!-- end -->
      
    </div>
    
    
    
    
    
  </div>
  
  
</div>