<!DOCTYPE html>
<html ng-app="myApp">
<head>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
	<!--script src="js/angularjs/1.5.0-rc.2/angular.min.js"></script-->

    <meta charset="UTF-8">
    <title>Title</title>

    <script>

        /*
         we will set variable in one controller
         and we will get that variable value in another controller.

         Generally we cannot access variables from controller to controller
         but with the help of services we will access variables of controller to another controllers.
         */

        var app = angular.module('myApp',[]);

        app.service('firstService', ['$log', function($log) {
            this.name = 'myName';
            this.lastname = 'my last name';
            this.age = 21;
            this.gender = 'male';

            this.clickMe = function() {
                $log.log('you clicked me');
            };
        }]);

        app.service('secondService', ['$log', function($log) {

        }]);


        app.factory('firstFactory', ['$log', function($log) {
            var myFactory = {};
            myFactory.name = 'myName1';
            myFactory.lastname = 'my Last name1';
            myFactory.age = 31;
            myFactory.gender = 'female';
            myFactory.clickMe = function() {
                $log.log('you clicked factory');
            };
            return myFactory;
        }]);

        app.controller('mainController', ["$scope", "$log", 'firstService', 'secondService', function($scope, $log, firstService, secondService) {
            console.log(firstService.name);
            console.log(firstService.lastname);
            console.log(firstService.age);
            console.log(firstService.gender);
            firstService.clickMe();
            $scope.name = firstService.name;

            $scope.saveMe   = function() {
                console.log($scope.keyword);
                secondService.varName1      = $scope.keyword;
            }

        }] );

        app.controller('mainController2', ["$scope", "$log", 'firstFactory', 'secondService', function($scope, $log, firstFactory, secondService) {
            console.log(firstFactory.name);
            console.log(firstFactory.lastname);
            console.log(firstFactory.age);
            console.log(firstFactory.gender);
            firstFactory.clickMe();

            //$scope.name = firstService.name;
            $scope.name = firstFactory.name;

            $scope.keyword2     = "";
            $scope.getVariableName  = function(){
                $scope.keyword2     = secondService.varName1;
            }

        }] );


    </script>






</head>
<body>

<div ng-controller="mainController">

    mainController: Your name is {{name}}<br>

    <h1>I am first controller</h1>
    <input type="text" ng-model="keyword">  <button ng-click="saveMe()">Save the Variable</button>

</div>


<div ng-controller="mainController2">

    mainController2: Your name is {{name}}<br>

    <h1>I am second controller</h1>
    <button ng-click="getVariableName()">Get the value from variable name</button>
    <br>
    {{keyword2}}
</div>

</body>
</html>