<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Massage Professional Information</h1>
      <div class="alert alert-danger" role="alert" ng-if="createStatus">
        {{createStatus}}
      </div>
      <form ng-submit="submitCreateForm()">
        <div class="form-group">
            <label for="location">Location *</label>
            <input type="text" class="form-control addressBox" id="location" ng-model="frm.location" placeholder="Enter Location" ng-autocomplete options="mapOptions" details="frm.details" >
        </div>
        <div class="form-group">
            <label for="title">Posting Title *</label>
            <input type="text" class="form-control" id="title" placeholder="Enter posting title" ng-model="frm.title" required>
        </div>
        <div class="form-group">
            <label for="description">Posting Body *</label>
            <textarea class="form-control" id="description" placeholder="Enter posting body" ng-model="frm.description" rows="5" required></textarea>
        </div>
        <div class="form-group">
            <label for="tags">Tags (Comma separated tags for search) *</label>
            <input type="text" class="form-control" id="tags" placeholder="Enter search tags" ng-model="frm.tags" required>
        </div>
        <h3>Coupons & Discounts</h3>
        <div class="form-group">
            <label for="coupon_info">Discount / Coupon Information</label>
            <textarea class="form-control" id="coupon_info" placeholder="Enter coupon / discount information, e.g. 20% off if you buy 6 passes" ng-model="frm.coupon_info"></textarea>
        </div>
        <div class="form-group">
            <label for="grossprice">Regular Price (in $)</label>
            <input type="text" class="form-control" id="grossprice" placeholder="Enter regular price e.g. $ 60.00" ng-model="frm.grossprice">
        </div>
        <div class="form-group">
            <label for="discount">Discount Price (in $)</label>
            <input type="text" class="form-control" id="discount" placeholder="Enter discount percent or amount e.g. $ 5.00" ng-model="frm.discount">
        </div>
        <div class="form-group">
            <label for="netprice">Net Price (in $)</label>
            <input type="text" class="form-control" id="netprice" placeholder="Enter final net price e.g. $ 55.00" ng-model="frm.netprice">
        </div>
        <h3>Contact & Person Information</h3>
        <div class="form-group">
            <label for="paypal_email">Paypal Email (This is where you will get the money)</label>
            <input type="email" class="form-control" id="paypal_email" placeholder="Enter paypal email" ng-model="frm.paypal_email">
        </div>
        <div class="form-group">
            <label for="email">{{meta.titleHeading}}'s Email</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" ng-model="frm.email">
        </div>
        <div class="form-group">
            <label for="phone">{{meta.titleHeading}}'s Phone</label>
            <input type="text" class="form-control" id="phone" placeholder="Enter phone" ng-model="frm.phone">
        </div>
        <div class="form-group">
            <label for="preferredMethod">Preferred Method To Contact: </label> &nbsp;&nbsp;
            <input type="checkbox" ng-model="frm.pref_email"> Email &nbsp;&nbsp;&nbsp;&nbsp;
            <input type="checkbox" ng-model="frm.pref_phone_text"> Phone Text &nbsp;&nbsp;&nbsp;&nbsp;
            <input type="checkbox" ng-model="frm.pref_phone_call"> Phone Call
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="frm.agree" value="1" required>I agree that I am above 18 years and I accept all terms, conditions & privacy as mentioned by ineedmassage.us
            </label>
        </div>
        <div class="alert alert-danger" role="alert" ng-if="createStatus">
          {{createStatus}}
        </div>
        
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
    </div>
  </div>
</div>