<div class="container">

  <div class="row">
    <div class="col-md-4">
      <h1>Add a record</h1>
      <form ng-submit="addRecord()">
          <div class="form-group">
              <label for="firstname">First Name</label>
              <input type="text" class="form-control" id="firstname" placeholder="Enter first name" ng-model="frm.firstname">
          </div>
          <div class="form-group">
              <label for="lastname">Last Name</label>
              <input type="text" class="form-control" id="lastname" placeholder="Enter Last name" ng-model="frm.lastname">
          </div>
          <button type="submit" class="btn btn-default">Add New Record</button>
      </form>
    </div>
    <div class="col-md-4">
      <h1>View Records</h1>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="item in records">{{item.firstname}} {{item.lastname}} (<a href="" ng-click="editRecord(item)">Edit</a> / <a href="" ng-click="deleteRecord(item)">Delete</a> / <a href="" ng-click="viewDetail(item)">View Detail</a>)</li>
      </ul>
    </div>
    <div class="col-md-4">
      <h1>Edit Record</h1>
      <form ng-submit="submitEditForm()">
          <div class="form-group">
              <label for="firstname">First Name</label>
              <input type="text" class="form-control" id="firstname" placeholder="Enter first name" ng-model="editFrm.firstname">
          </div>
          <div class="form-group">
              <label for="lastname">Last Name</label>
              <input type="text" class="form-control" id="lastname" placeholder="Enter Last name" ng-model="editFrm.lastname">
          </div>
          <button type="submit" class="btn btn-default">Update Record</button>
      </form>
      
      <h1>View Details</h1>
      <p><strong>First Name:</strong> {{firstname}}</p>
      <p><strong>Last Name:</strong> {{lastname}}</p>
    </div>
  </div>
</div>