.App {
  text-align: center;
  padding: 5px;
}

body {
  background: #000000;
  color: #ffffff;
}

.App-title {
  
  font-size: 26px;
}

.profile-info {
  margin-left: 10px;
}
.profile-name {
  font-size: 26px;
}
.profile-followers, .profile-genres {
  font-size: 18px;
}