<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Politics Create Page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1> Enter Main Details</h1>
                    
                    <form ng-submit="submitCreatePoliticsForm()">
                        <div class="form-group">
                            <label for="location">Location *</label>
                            <input type="text" class="form-control addressBox" id="location" ng-model="location" placeholder="Enter Location" ng-autocomplete options="mapOptions" details="details" required>
                        </div>
                        <div class="form-group">
                            <label for="title">Posting title *</label>
                            <input type="text" class="form-control" id="title" ng-model="frm.title" placeholder="Enter posting title" required>
                        </div>
                        <div class="form-group">
                            <label for="title">Posting Body *</label>
                            <textarea class="form-control" id="description" ng-model="frm.description" placeholder="Enter posting body" rows="5" required></textarea>
                        </div>
                        <div class="form-group">
                            <label for="tags">Politics Subjects(comma separated tags by search)</label>
                            <input type="text" class="form-control" id="tags" ng-model="frm.tags" placeholder="Enter tags">
                        </div>
                        <div class="form-group">
                            <label for="gender">Gender</label>
                            <input type="radio" ng-model="frm.gender" value="Male"> Male 
                            <input type="radio" ng-model="frm.gender" value="Female"> Female
                        </div>
                        <button type="submit" class="btn btn-default">SUBMIT</button>
                        
                            
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
