<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/legal">Reviews</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#/legal">Home</a></li>
        
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reviews <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#/">Search/Browse</a></li>
            <li ng-if="userData"><a href="#/create">Create New Review</a></li>
            <li ng-if="userData"><a href="#/my">My Created Reviews</a></li>
          </ul>
        </li>
        
      </ul>
      
      <ul class="nav navbar-nav" google-login user-data="userData"></ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>