<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="myApp">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.2/angular.min.js"></script>
        <script>
            var app= angular.module('myApp',[]);
            function processOrder(){
                console.log('I am in processOrder');
            };
                app.controller('mainController',['$scope',function($scope){
                 $scope.name='John';
                $scope.clickMe= function(){
                    console.log($scope.name);                    
                };
                $scope.clickMe1=function(){
                    processOrder();
                };
            }]);
            </script>
    </head>
    <body>
        <div ng-controller="mainController">
            
            
            <input type="text" ng-model="name">
            <button ng-click="clickMe()">Click Me
                <button ng-click="clickMe1()">Click Me6</button>
                
            </button>
        </div>
        
    </body>
</html>
