/* CSS Document */

body {
 padding-top: 75px; 
}


  #groupDetails {
        margin-top: -24px;
  }
  
  #groupDetails .jumbotron {
    background-color: #F7070B;
    border-radius: 0px;
    color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0px;
  }
  #groupDetails .detailContent {
    margin-left: 1px;
    margin-right: 1px;
  }
  #groupDetails .left-sidecolumn {
  }
  #groupDetails .center-column {
  }
  #groupDetails .leftEachRow {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  #groupDetails .avatarLink {
    background-color: #fff;
    border-radius: 6px;
    display: inline-block !important;
    float: left;
    margin: -5px 5px 0 -40px;
    max-width: 100%;
    padding: 1px;
    vertical-align: bottom;
  }
  #groupDetails .avatarImg {
    border: 2px solid #fff;
    border-radius: 7px;
    box-sizing: border-box;
    color: #fff;
    height: 72px;
    width: 72px;
  }