<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>First Consultation</h1>
    </div>
  </div>
  
  
  <div class="row">
    <div class="col-md-5">
      <h3>Rules, Terms & Privacy</h3>
      <ul>
        <li>If there is emergency, you can call 911, Here we only take chronic cases and acute cases which comes in the course of treatment.</li>
        <li>All our doctors are specialist in classical homeopathy. We recommend single remedy, single dose at one time followed by no medicine for a month or two or six. Remedies are very powerful and so you don't have to take any other dose till doctor suggest you. Doctor may suggest you to repeat or change the drug after a month or two or three or six months.<br><br></li>
        <li><strong>Step 1:</strong> Fill the personal form (provided on this page)</li>
        <li><strong>Step 2:</strong> Consultation Charges are: $100 per year with unlimited followups in between.</li>
        <li><strong>Step 3:</strong> Once you complete the payment, you will be redirected to detail case taking form.</li>
        <li>Case taking form is very big, you can take time to fill all the details. It may take a day or two to fill all the details.<br><br></li>
        <li>After you complete your case taking form, you will be assigned to one particular doctor. All your details will be posted to that doctor.</li>
        <li>Doctor will ask you more details if required through our message board.</li>
        <li>There will be 1 more doctor who will assist the main doctor in finding best remedy for you.</li>
        <li>Once doctor finds the best remedy for you, prescription will be emailed to you. You can buy it from your nearby store or buy it online. Prescription will also be available on the "My Account" section.</li>
        <li>You have to take single remedy and single dose only. No repetition of drug is allowed till doctor ask you to do so.</li>
      </ul>
    </div>
    <div class="col-md-7">
      <form ng-submit="submitPatientFrm()">
        <div class="form-group">
          <label for="email">Email address</label>
            <input type="email" required class="form-control" id="email" placeholder="Enter email" ng-model="frm.email" ng-value="userData.email">
          </div>
        <div class="form-group">
          <label for="name">Name of Patient</label>
            <input type="text" required class="form-control" id="name" placeholder="Enter name" ng-model="frm.name">
          </div>
          <div class="form-group">
            <label for="phone">Phone</label>
            <input type="text" required class="form-control" id="phone" placeholder="Enter phone" ng-model="frm.phone">
          </div>
          <div class="form-group">
            <label for="address">Address, City, State, Country</label>
            <textarea required class="form-control" id="address" placeholder="Enter address" ng-model="frm.address" rows="5"></textarea>
          </div>
          <div class="form-group">
              <input type="checkbox" id="terms" ng-model="frm.terms" required> I agree to terms and privacy statement of homeopathyrx.tk and I agree that whatever I said is true to best of my understanding.
          </div>
          <button type="submit" class="btn btn-default">Proceed To Payment for First Consultation</button>
      </form>
    </div>
  </div>
</div>