<style type="text/css">
.rating{
  color: #a9a9a9;
  margin: 0;
  padding: 0;
}

ul.rating {
  display: inline-block;
}

.rating li {
  list-style-type: none;
  display: inline-block;
  padding: 1px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.rating .filled {
  color: #21568b;
}
</style>
<ul class="rating">
  <li ng-repeat="star in stars" ng-class="star" ng-click="toggle($index)">
    <i ng-if="!star.filled" class="fa fa-star-o"></i>
    <i ng-if="star.filled" class="fa fa-star"></i>
  </li>
</ul>