<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>City Manager</h1>
    </div>
  </div>
  
  
  <div class="row">
    <div class="col-md-4">
      <h3>Benefits of City Manager</h3>
      <p>Following the responsibilities of city manager.</p>
    </div>
    <div class="col-md-8">
      <h3>Become a city Manager</h3>
      <div class="alert alert-danger" role="alert" ng-if="frm.status">
        {{frm.status}}
      </div>
      <form ng-submit="addCityManager()">
          <div class="form-group">
              <label for="location">Choose City *</label>
              <input type="text" class="form-control addressBox" id="location" ng-model="frm.location" placeholder="Enter Location" ng-autocomplete options="mapOptions" details="frm.details" >
          </div>
          <div class="form-group">
              <label for="email">Email address</label>
              <input type="email" class="form-control" id="email" placeholder="Enter email" ng-value="userData.email" disabled>
          </div>
          <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name" placeholder="Enter name" ng-value="userData.displayName" disabled>
          </div>
          <div class="checkbox">
              <label>
                  <input type="checkbox" value="1" ng-model="frm.agree" required>I agree to <a href="">terms and conditions</a> of a city manager.
              </label>
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </div>
</div>
<br><br>