<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h2>Upload Image URLs</h2>
			<form ng-submit="addImage()">
				<div class="form-group">
            	<label for="imageUrl">Image URL</label>
            	<input type="text" class="form-control addressBox" id="imageUrl" ng-model="frm.imageUrl" placeholder="Enter URL of the Image" ng-autocomplete>
       		</div>
       		<button type="submit" class="btn btn-default" id="addImage" ng-model="frm.btn.addImage">Add	Image</button>
				<a href="#/lesson" class="btn btn-default">Done</a>
    		</form>
			<div class="row">
				<div class="col-md-3" ng-repeat="img in images">
					<img ng-src="{{img}}" class="img-responsive img-thumbnail">
				</div>
			</div>
		</div>
	</div>
</div>